:root {
  /* ===== Colors ===== */
  --primary-color: #a30000;
  --panel-color: whitesmoke;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: rgb(234, 234, 234);
  --title-icon-color: #fff;
  --shadow-color: rgb(224, 223, 223);

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-02: all 0.2s ease;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 73px;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img {
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
    color: var(--black-light-color);
}

.nav-links li a:hover:before {
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-image: url(../img/backgroundCategory.png);
    text-decoration: none;
}

body.dark li a:hover:before {
    background-color: var(--text-color);
}

.menu-items li a i {
    font-size: 20px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.menu-items li a .link-name {
    font-size: 15px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-02);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.nav-links a:hover {
    list-style-type: none;
}

.nav-links li a:hover {
    background-image: url(backgroundcat.png);
    border-radius: 15px;
    list-style-type: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: white;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 20px;
}

.dashboard {
  position: relative;
  background-color: white;
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}

nav.close~.dashboard {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.dash-content .import {
  display: flex;
  justify-content: space-between;
}

.dash-content .title,
.import-function {
  display: flex;
  align-items: center;
  margin: 10px 0 30px 0;
}

.import-function .add,
.cancel {
  margin-right: 30px;
  font-size: 15px;
  color: var(--black-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.import-function .add i {
  background-color: green;
  color: #fff;
  padding: 5px 6px;
  border-radius: 50%;
}

.import-function .cancel i {
  background-color: red;
  color: #fff;
  padding: 5px 5px;
  border-radius: 50%;
}

.import-function span {
  margin-top: 10px;
}

.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}

.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.boxes .box .number {
  font-size: 40px;
  font-weight: 500;
  color: var(--text-color);
}

.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity .activity-data {
  display: flex;
}

.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  margin-bottom: 30px;
}

.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}

.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}

.import-info {
    width: 300px;
    height: auto;
    border-right: solid 1px var(--border-color);
    background-color: var(--panel-color);
    transition: var(--tran-05);
}

.import-info form {
  margin: 20px auto;
}

.insert {
    margin-bottom: 20px;
}

label {
    margin-right: 5px;
    color: var(--text-color);
}

.import-info select,
.import-info input {
  margin-bottom: 10px;
  padding: 10px 10px;
  border: solid 1px var(--border-color);
  border-radius: 15px;
  background: var(--box1-color);
  color: var(--text-color);
}

.import-info .smtbtn {
  display: flex;
  justify-content: center;
}

.import-info .smtbtn button {
  margin-top: 10px;
  border: none;
  background-color: rgba(254, 74, 74, 0.925);
  color: #fff;
  padding: 10px 10px;
  border-radius: 15px;
}
.import-container{
  display: flex;
}
.import-detail{
  width: calc(100% - 310px);
}
.import-detail table {
  width: 100%;
  color: var(--text-color);
  text-align: center;
}

.import-detail th,
.import-detail td {
  padding: 20px 5px;
}

@media (max-width: 1000px) {
    nav {
        width: 73px;
    }

    nav.close {
        width: 250px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav~.dashboard .top {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close~.dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data {
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 73px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav~.dashboard {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard {
        left: 73px;
        width: calc(100% - 73px);
    }

    nav~.dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close~.dashboard .top {
        left: 0;
        width: 100%;
    }
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.129);
  }
  .header .header__logo {
    height: 64px;
    display: flex;
    align-items: center;
  }
  .header .header__logo img {
    height: 35px;
  }
  
  .header .header__action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 14px;
    color: #cb1c3b;
    font-size: 24px;
    grid-area: auto;
    line-height: 36px;
    text-align: center;
  }
  
  .header .header__action .header__action-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
  }
  
  .header .header__action .header__action-member p {
    font-size: 14px;
    font-weight: 700;
    grid-area: auto;
    line-height: 24.5px;
    text-align: center;
  }
  
  /* topic */
  .topic {
    position: sticky;
    width: 100%;
    top: 64.8px;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    position: sticky;
    flex-grow: 1;
    font-weight: bold;
    background: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.129);
  }
  .btn__topic {
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 15px;
    min-height: 48px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    line-height: 1.75;
    white-space: normal;
    text-transform: uppercase;
    height: 48px;
    width: 180px;
    transition: 0.1s;
    cursor: pointer;
  }
  
  .btn__topic:hover {
    color: #c8102e;
    background-color: #ffff;
  }
  .btn__topic span {
    cursor: pointer;
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: inherit;
    opacity: 0.7;
  }
  .btn__topic.--active {
    background-size: auto 100%;
    background-image: url("../img/backgroundCategory.png");
  }
  .btn__topic.--active span {
    color: #ffff;
    opacity: 1;
  }
  
  .btn {
    padding: 6px 16px;
    cursor: pointer;
    width: 100%;
    display: block;
    color: #fff;
    background-color: #0a8020;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    grid-area: auto;
    line-height: 24.5px;
    text-align: center;
    text-transform: uppercase;
    height: 36.5px;
    border-radius: 4px;
    width: 100%;
    display: flex;
  
    align-items: center;
    justify-content: center;
    gap: 12.8px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .popup {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 100;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    opacity: 1;
    visibility: visible;
  }
  .popup.--none {
    opacity: 0;
    visibility: hidden;
  }
  .popup__item {
    overflow: hidden;
    border-radius: 5px;
    width: 100vw;
    height: 90vh;
    display: flex;
    max-width: 960px;
    height: 670px;
    flex-direction: row;
    z-index: 101;
    background-color: #ffffff;
    position: relative;
  }
  
  .popup__item-img {
    width: 30%;
    height: 100vh;
    display: flex;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  .popup__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .popup__iten-content {
    width: 669px;
    padding: 24px 24px 8px;
  }
  .popup__iten-content h3 {
    display: inline;
    font-size: 27.2px;
    font-weight: 700;
    grid-area: auto;
    letter-spacing: 0.14994px;
    line-height: 36.2848px;
    margin-bottom: 24px;
    display: inline-block;
  }
  .popup__iten-content .desc {
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    grid-area: auto;
    text-align: justify;
    display: inline-block;
    margin-bottom: 8px;
  }
  .popup__iten-content .title {
    display: inline-block;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 19px;
    font-weight: 700;
    grid-area: auto;
    letter-spacing: 0.14994px;
    line-height: 25.346px;
    margin-bottom: 4px;
  }
  .popup__iten-content .box {
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  .popup__iten-content .box .title {
    font-weight: 700;
  }
  .popup__iten-content .box__item {
    padding: 12px 16px;
    display: flex;
    gap: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    align-items: center;
  }
  .popup__iten-content .box__item.--none:hover {
    background: #ffffff;
    cursor: initial;
  }
  .popup__iten-content .box__item.--none.--active {
    background: #ffffff;
    cursor: initial;
  }
  .popup__iten-content .box__item {
    cursor: pointer;
    transition: 0.1s;
  
    font-size: 15px;
  }
  .popup__iten-content .box__item:hover {
    background-color: #f6f6f6;
  }
  
  .popup__iten-content .box__item .price {
    margin-left: auto;
  }
  .popup__iten-content .box__item .icon {
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
    background-color: #0a8020;
    position: relative;
    overflow: hidden;
  }
  
  .popup__iten-content .box__item.--active {
    background-color: rgba(0, 0, 0, 0.08);
  }
  .popup__iten-content .box__item.--active .icon {
    background-image: none;
  }
  .popup__iten-content .box__item.--active .icon .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0a8020;
    z-index: 1;
  }
  .popup__iten-content .box__item.--active .icon .line1 {
    position: absolute;
    top: 18px;
    left: 14px;
    width: 2px;
    height: 10px;
    background: #ffffff;
    rotate: -45deg;
    z-index: 2;
  }
  .popup__iten-content .box__item.--active .icon .line2 {
    position: absolute;
    right: 15px;
    width: 2px;
    height: 18px;
    background: #ffffff;
    rotate: 41deg;
    z-index: 2;
  }
  
  .btnClose {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
  }
  
  .btnClose {
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50px;
    top: 5px;
    right: 5px;
    display: block;
    z-index: 999;
    position: absolute;
    background-color: #c5c5c5;
    transition: 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnClose:hover {
    background-color: #e0e0e0;
  }
  .btnClose img {
    width: 14px;
    height: 14px;
  }
  
  
  /* Import Google font - Poppins */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
  
  
  .notifications {
    position: fixed;
    top: 30px;
    right: 20px;
    margin-top: 50px;
  }
  .notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
  }
  .notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
  }
  .toast span {
      color: black;
  }
  @keyframes show_toast {
    0% {
      transform: translateX(100%);
    }
    40% {
      transform: translateX(-5%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  .notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
  }
  @keyframes hide_toast {
    0% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(-5%);
    }
    100% {
      transform: translateX(calc(100% + 20px));
    }
  }
  .toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
    margin-top: 50px;
  }
  @keyframes progress {
    100% {
      width: 0%;
    }
  }
  .toast.success::before, .btn#success {
    background: var(--success);
  }
  .toast.error::before, .btn#error {
    background: var(--error);
  }
  .toast.warning::before, .btn#warning {
    background: var(--warning);
  }
  .toast.info::before, .btn#info {
    background: var(--info);
  }
  .toast .column i {
    font-size: 1.75rem;
  }
  .toast.success .column i {
    color: var(--success);
  }
  .toast.error .column i {
    color: var(--error);
  }
  .toast.warning .column i {
    color: var(--warning);
  }
  .toast.info .column i {
    color: var(--info);
  }
  .toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
  }
  .toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
  }
  .toast i:last-child:hover {
    color: var(--dark);
  }
  .buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
  
  }
  
  @media screen and (max-width: 530px) {
    .notifications {
      width: 95%;
      margin-top: 50px;
    }
    .notifications .toast {
      width: 100%;
      font-size: 1rem;
      margin-left: 20px;
      margin-top: 50px;
    }
    .buttons .btn {
      margin: 0 1px;
      font-size: 1.1rem;
      padding: 8px 15px;
      margin-top: 50px;
    }
  }

/*========= list bill =========*/
.wrapper{
  background-image: url("background.jpg");
}
.top-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.top-title i{
  background: #c8102e;
  padding: 10px 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
h1 {
    text-align: center;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info input,.info div{
  margin-bottom: 10px;
}

input{
  border: solid 1px rgb(214, 214, 214);
  width: 750px;
  padding: 10px 5px;
  border-radius: 5px;
}

.show-detail{
  color: black;
  background-color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#Search{
  background: #0a8020;
  color: #fff;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  width: 760px;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
    border: solid 1px rgb(224, 224, 224);
    position: relative;
}

.table-responsive {
    overflow-x: auto;
}

.container table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

.container th, td {
    padding: 20px;
    text-align: center;
}

.container th {
    border-bottom: solid 1px rgb(224, 224, 224);
    background-color: #c8102e;
    color: #fff;
}

.container a {
    text-decoration: none;
    color: #000000;
}

/*======= bill detail =======*/
.container-bill{
  width: 700px;
  left: 20%;
  top: 15%;
  transition: translate(-50%,-50%);
  background: white;
  padding: 20px 20px;
  border-radius: 25px;
  position: absolute;
  z-index: 3;
}

.hide{
  display: none;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
  display: none;
  z-index: 2;
}

.container-bill header {
  text-align: center;
  display: flex;
  justify-content: center;
  background: white;
  margin-bottom: 20px;
  position: relative;
}

.container-bill header img{
  width: 80px;
  height: auto;
}

.container-bill header i{
  color: black;
  font-size: 20px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.container-bill main{
  display: flex;
  flex-direction: column;
}

.container-bill main .infor{
  display: flex;
  justify-content: center;
  gap: 40px;
}

.container-bill main section {
  border: solid 1px rgb(234, 234, 234);
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}

.thong-tin-don-hang, .thong-tin-khach-hang{
  border: none;
}

.danh-sach-san-pham td img{
  width: 100px;
  height: auto;
}
.container-bill main section h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.container-bill main section ul {
  list-style: none;
  padding: 0;
}

.container-bill main section ul li {
  margin-bottom: 5px;
}

.container-bill main section ul li span {
  font-weight: bold;
}

.container-bill main section table{
  width: 100%;
  border-collapse: collapse;
}

.container-bill main section table th, .container-bill main section table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.container-bill main section table th {
  background-color: #c8102e;
  color: white;
}

.container-bill main section table #tong-tien {
  font-weight: bold;
  text-align: right;
}