/*========= list bill =========*/
.wrapper{
    background-image: url("background.jpg");
  }
  .top-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .top-title i{
    background: #c8102e;
    padding: 10px 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  h1 {
      text-align: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info input,.info div{
    margin-bottom: 10px;
  }
  
  input{
    border: solid 1px rgb(214, 214, 214);
    width: 750px;
    padding: 10px 5px;
    border-radius: 5px;
  }
  
  .show-detail{
    color: black;
    background-color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  #Search{
    background: #0a8020;
    color: #fff;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    width: 760px;
  }
  
  .container {
      width: 800px;
      margin: auto;
      background-color: white;
      border: solid 1px rgb(224, 224, 224);
      position: relative;
  }
  
  .table-responsive {
      overflow-x: auto;
  }
  
  .container table {
      margin-top: 10px;
      width: 100%;
      border-collapse: collapse;
  }
  
  .container th, td {
      padding: 20px;
      text-align: center;
  }
  
  .container th {
      border-bottom: solid 1px rgb(224, 224, 224);
      background-color: #c8102e;
      color: #fff;
  }
  
  .container a {
      text-decoration: none;
      color: #000000;
  }
  
  /*======= bill detail =======*/
  .container-bill{
    width: 700px;
    left: 20%;
    top: 2%;
    transition: translate(-50%,-50%);
    background: white;
    padding: 20px 20px;
    border-radius: 25px;
    position: absolute;
    z-index: 3;
  }
  
  .hide{
    display: none;
  }
  
  .dark-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 300;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.5);
    transition: 0.2s;
    opacity: 1;
    visibility: visible;
  }
  
  .container-bill header {
    text-align: center;
    display: flex;
    justify-content: center;
    background: white;
    margin-bottom: 20px;
    position: relative;
  }
  
  .container-bill header img{
    width: 80px;
    height: auto;
  }
  
  .container-bill header i{
    color: black;
    font-size: 20px;
    position: absolute;
    right: 0px;
    cursor: pointer;
  }
  
  .container-bill main{
    display: flex;
    flex-direction: column;
  }
  
  .container-bill main .infor{
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .container-bill main section {
    border: solid 1px rgb(234, 234, 234);
    padding: 10px;
    margin-bottom: 10px;
    background: white;
  }
  
  .thong-tin-don-hang, .thong-tin-khach-hang{
    border: none;
  }
  
  .danh-sach-san-pham td img{
    width: 100px;
    height: auto;
  }
  .container-bill main section h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .container-bill main section ul {
    list-style: none;
    padding: 0;
  }
  
  .container-bill main section ul li {
    margin-bottom: 5px;
  }
  
  .container-bill main section ul li span {
    font-weight: bold;
  }
  
  .container-bill main section table{
    width: 100%;
    border-collapse: collapse;
  }
  
  .container-bill main section table th, .container-bill main section table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
  }
  
  .container-bill main section table th {
    background-color: #c8102e;
    color: white;
  }
  
  .container-bill main section table #tong-tien {
    font-weight: bold;
    text-align: right;
  }