body {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  font-size: 13px;
  color: var(--color-main);
  /* letter-spacing: -0.4px; */
}
*,
*.scbox .product-list::after,
*.scbox .product-list::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  max-width: var(--container-witdh);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.scproducts .scproducts__list {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 30px 60px;
}

.scproducts .scproducts__list .scproducts__list-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: var(--color-white);
  border-radius: 8px;
  width: 24%;
}

.scproducts .top {
  width: 100%;
  display: block;
  text-align: inherit;
  cursor: pointer;
  height: 120%;
}

.scproducts .scproducts__list .scproducts__list-item .top:hover {
  background-color: #f3f1f1;
  transition: 0.3s;
}
.scproducts .scproducts__list .scproducts__list-item .top .img {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.scproducts .scproducts__list .scproducts__list-item .top:hover .img img {
  transform: scale(1.2);
  --webkit-transform: scale(1.2);
  transition: 0.3s;
}

/* .img {
  display: flex;
  aspect-ratio: 382/215;
  overflow: hidden;
  width: 100%;
  &:hover {
    img {
      &:hover {
        transform: scale(1.1);
        --webkit-transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
}
} */
/*  */

.top .title {
  display: block;
  padding: 5px 10px 21px;
  font-weight: 700;
  grid-area: auto;
  line-height: 24px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  grid-area: auto;
  line-height: 24px;
  text-align: left;
  margin-bottom: 4px;
}

.content {
  padding: 0px 10px 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .desc {
  font-family: "Roboto", sans-serif;
  height: 40px;
  font-weight: 400;
  display: block;
  line-height: 1.4;
  margin-bottom: 15px;
}

.content .btn__buy {
  cursor: pointer;
  background-color: #0a8020;
  padding: 6px 16px;
  font-size: 0.875rem;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
}

.a {
  padding: 6px;
}
.wrapper {
  position: relative;
  display: flex;
  transition: all ease 0.3s;
}
.wrapper__left {
  position: relative;
  width: 100%;
  transition: all ease 0.3s;
}

.wrapper__right {
  position: sticky;
  top: 0;
  left: 0;
  border-left: 1px solid var(--color-line);
  background: #fff;
  width: 400px;
  height: 100vh;
  z-index: 102;
  transition: all ease 0.3s;
  display: none;
}

.wrapper__right .top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  position: relative;
}

.wrapper__right .top .close-cart{
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  background-color: #c8102e;
  padding: 6px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper__right .payment{
  bottom: 20px;
  position: absolute;
  width: 100%;
}

.wrapper__right .btnCloseAllCart {
  color: white;
  background-color: #c8102e;
  padding: 6px 16px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  grid-area: auto;
  line-height: 24.5px;
  text-align: center;
  text-transform: uppercase;
  height: 36.5px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.8px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper__right .heading {
  text-align: center;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.6;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.list__item {
  position: relative;
  padding: 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  gap: 10px;
  background: #fff;
  position: relative;
}

.list__item i{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.list__item .title {
  color: #000000;
  font-size: 11px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 15.73px;
  text-align: left;
}

.list__item .img {
  display: flex;
  overflow: hidden;
  aspect-ratio: 1/1;
  width: 100px;
  border-radius: 4px;
}

.list__item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list__item .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.payment .payment__info {
  padding: 5px;
  font-size: 0.5rem;
  font-weight: 900;
  background-color: #f5f7f9;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment__btn {
  padding: 10px;
}

.scpayment {
  width: 100%;
  padding: 28px 0px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  line-height: normal !important;
  text-transform: uppercase;
  background-image: url("../images/background1.jpg");
}

.scbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.scbox__form {
  margin-top: 12px;
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 30%);
  padding: 10px 25px 10px;
}
.scbox__form h2 {
  padding-top: 20px;
  font-size: 18px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 25.74px;
  text-align: center;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}
.form-item label {
  font-size: 14px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 20.02px;
  margin: 0px 0px 3px;
  text-align: left;
}
.form-item input {
  font-size: 14px;
  letter-spacing: 0.14994px;
  line-height: 19.0016px;
  padding: 10.5px 14px;
  width: 550px;
  height: 38px;
  outline: #b5b6bd solid 1px;
  border-radius: 4px;
}

.scbox__form-top {
  cursor: pointer;
  position: relative;
  padding: 10px 25px 10px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scbox__form-top .left {
  font-size: 16px;
  letter-spacing: 0.14994px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.scbox__form-top .left i {
  color: #0a8020;
  font-size: 18px;
}
.scbox__form-top .right {
  color: #0a8020;
  font-size: 18px;
}

.scbox__form-top .bagde {
  position: absolute;
  top: -1px;
  left: 40px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #c7102e;
  border-radius: 50%;
}

.scregister {
  width: 100%;
  height: 90vh;
  background-image: url("../images/background1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scregister__container {
  background-color: #ffffff;
  max-width: 960px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.scregister__title {
  padding: 12px 45px 12px;
}
.scregister__title h2 {
  color: #a80000;
  font-size: 25px;
  font-weight: 700;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 35.75px;
  text-align: center;
}
.scregister__title p {
  color: #000000;
  font-size: 14px;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 20.02px;
  text-align: center;
}

.scregister__form {
  padding: 0 45px 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.form-item.--register input {
  width: 100%;
}

.scregister__form-left .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 423px;
}
.scregister__form-left .group .form-item.--register {
  max-width: 205px;
  width: 100%;
}

.form-item .warn {
  align-items: center;
  display: flex;
  font-size: 14px;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 20.02px;
  text-align: left;
  color: #008000;
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-check input {
  margin-top: 4px;
}

.form-check {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-size: 14px;
  color: #000000;
  grid-area: auto;
  letter-spacing: 0.14994px;
  line-height: 21px;
  text-align: left;
}
.scregister__bottom {
  padding: 0 260px 20px;
}

.form-item .error {
  color: #f44336;
  font-size: 12px;
  grid-area: auto;
  letter-spacing: 0.14994px;
  margin: 2px 2px 0px;
}
.form-item.--error label {
  color: #f44336;
}
.form-item.--error input {
  outline: #f44336 solid 1px;
}
.scbox__form.--bottom {
  margin-top: 24px;
  margin-bottom: 24px;
}

.scbox__form.--bottom button {
  background-color: white;
  cursor: pointer;
}

.form-search i {
  font-size: 20px;
}

/* nav advande */

.advanced-search {
  background-color: var(--color-white);
  z-index: 100;
  width: 100%;
  transform: translateY(-65px);
  transition: transform 0.6s ease;
  display: flex;
  position: fixed;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 99;
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}

.advanced-search.--down {
  transform: translateY(0px);
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
}

.advanced-search .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.advanced-search-price {
  display: flex;
  height: 49px;
  align-items: center;
}

#advanced-search-category-select {
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-right: 10px solid #f0f0f0;
  cursor: pointer;
}

.advanced-search-price input {
  border: none;
  outline: none;
  height: 35px;
  width: 140px;
  padding: 0 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.advanced-search span {
  margin: 0 10px;
  font-size: 15px;
  color: #000000;
}

#advanced-search-price-btn,
.advanced-search-control button {
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

#advanced-search-price-btn {
  margin-left: 10px;
  background-color: var(--color-red);
  color: var(--white);
  font-size: 20px;
}

.advanced-search-control button:hover {
  background-color: var(--color-red);
  color: var(--white);
}

.advanced__container {
  padding: 1px 33px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.wrapper {
  background-image: url("background.jpg");
}
.top-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.top-title i {
  background: #c8102e;
  padding: 10px 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
h1 {
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info input,
.info div {
  margin-bottom: 10px;
}

input {
  border: solid 1px rgb(214, 214, 214);
  /* width: 750px; */
  padding: 10px 5px;
  border-radius: 5px;
}

.show-detail {
  color: black;
  background-color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#Search {
  background: #0a8020;
  color: #fff;
  border: none;
  padding: 10px 5px;
  border-radius: 5px;
  width: 760px;
}

.container {
  width: 800px;
  margin: auto;
  background-color: white;
  border: solid 1px rgb(224, 224, 224);
  position: relative;
}

.table-responsive {
  overflow-x: auto;
}

.container table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

.container th,
td {
  padding: 20px;
  text-align: center;
}

.container th {
  border-bottom: solid 1px rgb(224, 224, 224);
  background-color: #c8102e;
  color: #fff;
}

.container a {
  text-decoration: none;
  color: #000000;
}

/*======= bill detail =======*/
.container-bill {
  width: 700px;
  left: 20%;
  top: 15%;
  transition: translate(-50%, -50%);
  background: white;
  padding: 20px 20px;
  border-radius: 25px;
  position: absolute;
  z-index: 3;
}

.hide {
  display: none;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115%;
  background-color: black;
  opacity: 0.5;
  z-index: 0;
  display: none;
  z-index: 2;
}

.container-bill header {
  text-align: center;
  display: flex;
  justify-content: center;
  background: white;
  margin-bottom: 20px;
  position: relative;
}

.container-bill header img {
  width: 80px;
  height: auto;
}

.container-bill header i {
  color: black;
  font-size: 20px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.container-bill main {
  display: flex;
  flex-direction: column;
}

.container-bill main .infor {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.container-bill main section {
  border: solid 1px rgb(234, 234, 234);
  padding: 10px;
  margin-bottom: 10px;
  background: white;
}

.thong-tin-don-hang,
.thong-tin-khach-hang {
  border: none;
}

.danh-sach-san-pham td img {
  width: 100px;
  height: auto;
}
.container-bill main section h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.container-bill main section ul {
  list-style: none;
  padding: 0;
}

.container-bill main section ul li {
  margin-bottom: 5px;
}

.container-bill main section ul li span {
  font-weight: bold;
}

.container-bill main section table {
  width: 100%;
  border-collapse: collapse;
}

.container-bill main section table th,
.container-bill main section table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.container-bill main section table th {
  background-color: #c8102e;
  color: white;
}

.container-bill main section table #tong-tien {
  font-weight: bold;
  text-align: right;
}
/*===== product-list =====*/
.scbox .product-list {
  width: auto;
  height: 400px;
  overflow-y: auto;
  border: solid 1px rgb(210, 210, 210);
  border-radius: 15px;
  padding: 10px 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  z-index: 201;
}

/* width */
.scbox .product-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scbox .product-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.scbox .product-list::-webkit-scrollbar-thumb {
  background: rgb(183, 183, 183);
  border-radius: 10px;
  height: 30px;
}


.scbox .hide {
  display: none;
}

.scbox .product-list .close-bg {
  display: flex;
  justify-content: right;
}

.scbox .product-list .close {
  background: #008000;
  padding: 7px 7px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.scbox .product-list h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px;
}

.scbox .product-list th {
  font-weight: bold;
  text-align: center;
  align-content: center;
  padding: 20px 20px;
}

.scbox .product-list td {
  padding: 20px 20px;
  text-align: center;
  align-content: center;
}

.scbox .product-list .product-description {
  display: flex;
  align-items: center;
}

.scbox .product-list img {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.scbox .product-list #total-price {
  text-align: left;
}

.scbox .product-list #total {
  font-weight: bold;
  text-align: right;
}

.dark-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 300;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.5);
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
}
.scregister__form-right {
  max-width: 423px;
}
.form-item.--register select {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.14994px;
  line-height: 19.0016px;
  padding: 10.5px 14px;
  height: 38px;
  outline: #b5b6bdba solid 1.6px;
  border-radius: 4px;
  margin-top: -4px;
}

.form-item.--register.--error input {
  color: red;
}
.form-item.--login.--error input {
  color: red;
}
.header__action-bell i{
  color: #c8102e;
}

